In [1]:
pip install kafka-python

Collecting kafka-python
  Downloading kafka_python-2.0.6-py2.py3-none-any.whl.metadata (9.0 kB)
Downloading kafka_python-2.0.6-py2.py3-none-any.whl (252 kB)
   ---------------------------------------- 0.0/252.1 kB ? eta -:--:--
   - -------------------------------------- 10.2/252.1 kB ? eta -:--:--
   ------ -------------------------------- 41.0/252.1 kB 495.5 kB/s eta 0:00:01
   -------------------------------------- - 245.8/252.1 kB 2.5 MB/s eta 0:00:01
   ---------------------------------------- 252.1/252.1 kB 2.2 MB/s eta 0:00:00
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.6
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd

In [2]:
from kafka import KafkaConsumer, KafkaProducer
from time import sleep
from json import dumps
import json

In [3]:
producer=KafkaProducer(bootstrap_servers=['44.211.145.216:9092'],
                       value_serializer=lambda x: dumps(x).encode('utf-8'))

In [4]:
producer.send(topic='demo_test',value="{'CourseName':'Python Data Engineering'}")

In [5]:
df=pd.read_csv('indexProcessed.csv')

In [11]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [ ]:
#df.sample(1)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
13957,NYA,1987-10-02,1939.540039,1939.540039,1939.540039,1939.540039,1939.540039,0.0,1939.540039

In [ ]:
#df.sample(1).to_dict(orient="records")

[{'Index': 'NYA',
  'Date': '1998-12-31',
  'Open': 6299.930176,
  'High': 6299.930176,
  'Low': 6299.930176,
  'Close': 6299.930176,
  'Adj Close': 6299.930176,
  'Volume': 0.0,
  'CloseUSD': 6299.930176}]

In [18]:
df.sample(1).to_dict(orient="records")[0]

{'Index': 'N225',
 'Date': '1974-02-26',
 'Open': 4474.22998,
 'High': 4474.22998,
 'Low': 4474.22998,
 'Close': 4474.22998,
 'Adj Close': 4474.22998,
 'Volume': 0.0,
 'CloseUSD': 44.742299800000005}

In [19]:
while True:
    dict_stock=df.sample(1).to_dict(orient="records")[0]
    producer.send(topic='demo_test',value=dict_stock)

KeyboardInterrupt:

In [6]:
producer.flush()